.logger {
  text-align: left;
  font-family: monospace;
  z-index: -1;
  position: fixed;
  opacity: 0.4;
}

.logger.subFullHeight {
  top: 0px;
}

.logger.fullHeight {
  bottom: 10px;
}

@keyframes loggerAnimation {
  from {
    color: white;
  }
  to {
    color: #000000;
  }
}

.logger div {
  color: #000000;
  animation-name: loggerAnimation;
  animation-duration: 2s;
}
