.logger {
  text-align: left;
  font-family: monospace;
  z-index: -1;
  position: fixed;
  opacity: 0.15;
  animation-name: introFade;
  animation-duration: 10s;
  font-size: 10px;
}

.logger.subFullHeight {
  top: 0px;
}

.logger.fullHeight {
  bottom: 10px;
}

.logger div {

}

@keyframes introFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.15;
  }
}
