.this {
  text-align: center;
}

.content {
  text-align: left;
  display: inline-block;
  width: 800px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  animation-name: introFade;
  animation-duration: 6s;
}

@keyframes introFade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
